###
# rpmbuild/docker-compose.yml
# https://github.com/furplag/archive/docker
#
# Licensed under CC-BY-NC-SA 4.0 ( https://creativecommons.org/licenses/by-nc-sa/4.0/ )
#
# a disposable workbench to build RPM package .
#
services:
  el10:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        EL_VERSION: 10
        RPMBUILD_GROUP: ${RPMBUILD_GROUP}
        RPMBUILD_GROUP_ID: ${RPMBUILD_GROUP_ID}
        RPMBUILD_USER: ${RPMBUILD_USER}
        RPMBUILD_USER_ID: ${RPMBUILD_USER_ID}
        REPO_URL: ${REPO_URL_EL10}
        REPO_NAME: ${REPO_NAME}
        GPG_KEY: _gpg_key
        GPG_PRIVATEKEY: _gpg_privatekey
        GPG_PRIVATEKEY_PASSPHRASE: _gpg_privatekey_passphrase
      secrets:
        - _gpg_key
        - _gpg_privatekey
        - _gpg_privatekey_passphrase
    container_name: rpmbuild-el10
    restart: no
    volumes:
      - type: volume
        source: rpmbuild_el10_data
        target: /home/rpmbuild
    stdin_open: true
    tty: true

  el9:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        EL_VERSION: 9
        RPMBUILD_GROUP: ${RPMBUILD_GROUP}
        RPMBUILD_GROUP_ID: ${RPMBUILD_GROUP_ID}
        RPMBUILD_USER: ${RPMBUILD_USER}
        RPMBUILD_USER_ID: ${RPMBUILD_USER_ID}
        REPO_URL: ${REPO_URL_EL9}
        REPO_NAME: ${REPO_NAME}
        GPG_KEY: _gpg_key
        GPG_PRIVATEKEY: _gpg_privatekey
        GPG_PRIVATEKEY_PASSPHRASE: _gpg_privatekey_passphrase
      secrets:
        - _gpg_key
        - _gpg_privatekey
        - _gpg_privatekey_passphrase
    container_name: rpmbuild-el9
    restart: no
    volumes:
      - type: volume
        source: rpmbuild_el9_data
        target: /home/rpmbuild
    stdin_open: true
    tty: true

# el8:
#   build:
#     context: .
#     dockerfile: Dockerfile
#     args:
#       EL_VERSION: 8
#       RPMBUILD_GROUP: ${RPMBUILD_GROUP}
#       RPMBUILD_GROUP_ID: ${RPMBUILD_GROUP_ID}
#       RPMBUILD_USER: ${RPMBUILD_USER}
#       RPMBUILD_USER_ID: ${RPMBUILD_USER_ID}
#       REPO_URL: ${REPO_URL_EL8}
#       REPO_NAME: ${REPO_NAME}
#       GPG_KEY: _gpg_key
#       GPG_PRIVATEKEY: _gpg_privatekey
#       GPG_PRIVATEKEY_PASSPHRASE: _gpg_privatekey_passphrase
#     secrets:
#       - _gpg_key
#       - _gpg_privatekey
#       - _gpg_privatekey_passphrase
#   container_name: rpmbuild-el8
#   restart: no
#   volumes:
#     - type: volume
#       source: rpmbuild_el8_data
#       target: /home/rpmbuild
#   stdin_open: true
#   tty: true

secrets:
  _gpg_key:
    file: "${GPG_KEY}"
  _gpg_privatekey:
    file: "${GPG_PRIVATEKEY}"
  _gpg_privatekey_passphrase:
    file: "${GPG_PRIVATEKEY_PASSPHRASE}"

# must be add permissions to RPMBUILD_USER to handles data .
volumes:
  rpmbuild_el8_data:
    name: rpmbuild_el8_data
    external: true
  rpmbuild_el9_data:
    name: rpmbuild_el9_data
    external: true
  rpmbuild_el10_data:
    name: rpmbuild_el10_data
    external: true
