###
# conan-exiles-aarch64.oci.ampere/.conan-exiles.env_example
# https://github.com/furplag/archive/docker
#
# Licensed under CC-BY-NC-SA 4.0 ( https://creativecommons.org/licenses/by-nc-sa/4.0/ )
#
# example  value of configuration for Docker container "conan-exiles-aarch64.oci.ampere" .
#

# system timezone ( optional, recommends adjust to same as docker host ) .
#TZ=Etc/UTC

# Locale setting .
#LANG='en_US.UTF-8'
#LANGUAGE='en_US:en'

# Steam App directory ( optional, already defined by base image ) .
#STEAM_HOME=/opt/steam

# Steam user ( required, recommends adjust to same UID/GID as docker host, and remember add permission to handale data into volume ) .
#STEAM_USER=steam
#STEAM_USER_ID=12001
#STEAM_GROUP_ID=12001

# box64 dynarec setting: bigblock ( 0 to 3 ) .
BOX64_DYNAREC_BIGBLOCK=0
# box64 dynarec setting: detect MonoBleedingEdge ( 0: no detect, 1 : apply BIGBLOCK=0 STRONGMEM=1 if MonoBleedingEdge detected ) .
BOX64_DYNAREC_BLEEDING_EDGE=0
# box64 dynarec setting: strong memory mode ( 0 to 3 ) .
BOX64_DYNAREC_STRONGMEM=2
# box64 option: log ( 0:NONE, 1:INFO, 2:DEBUG, 3:DUNP ) .
#BOX64_LOG=0
# box64 option: log directory ( optional, already defined by base image ) .
#BOX64_LOG_DIR=${STEAM_HOME}/_logs
# box64 option: log file ( optional, already defined by base image ) .
#BOX64_LOG_FILE=BOX64-${STEAMAPP_NAME}.log

# box86 / 64 option: show banner ( may NOT be modify ) .
#BOX86_NOBANNER=1
#BOX64_NOBANNER=1

# SteamApp ID ( Conan Exiles dedicated server, may NOT be modify ) .
#STEAMAPP_ID=443030
# Conan Exiles server directory ( optional, already defined by base image ) .
#STEAMAPP_NAME=conan-exiles
# Conan Exiles server path ( optional, already defined by base image ) .
#STEAMAPP_HOME=/opt/steam/${STEAMAPP_NAME}
# SteamApp ID ( Conan Exiles, may NOT be modify ) .
#SteamAppId=440900
# a toggle to update automatically or not if available .
#STEAMAPP_UPDATE_ENABLED=TRUE

# port to connecting server .
#PORT=7777
#PORT_ASIDE=7778
#QUERY_PORT=27015
# port to connecting server ( RCON ) .
#RCON_PORT=25575
