###
# soulmask-aarch64.oci.ampere/.soulmask.env_example
# https://github.com/furplag/archive/docker
#
# Licensed under CC-BY-NC-SA 4.0 ( https://creativecommons.org/licenses/by-nc-sa/4.0/ )
#
# example  value of configuration for Docker container "soulmask-aarch64.oci.ampere" .
#

# system timezone ( optional, recommends adjust to same as docker host ) .
TZ=UTC

# Steam App directory ( optional, already defined by base image ) .
#STEAM_HOME=/opt/steam

# box64 dynarec setting: bigblock ( 0 to 3 ) .
#BOX64_DYNAREC_BIGBLOCK=0
# box64 dynarec setting: detect MonoBleedingEdge ( 0: no detect, 1 : apply BIGBLOCK=0 STRONGMEM=1 if MonoBleedingEdge detected ) .
#BOX64_DYNAREC_BLEEDING_EDGE=0
# box64 dynarec setting: strong memory mode ( 0 to 3 ) .
#BOX64_DYNAREC_STRONGMEM=1
# box64 option: log ( 0:NONE, 1:INFO, 2:DEBUG, 3:DUNP ) .
#BOX64_LOG=0
# box64 option: log file ( optional ) .
#BOX64_TRACE_FILE=

# SteamApp ID ( Soulmask dedicated server, may NOT be modify ) .
#STEAMAPP_ID=3017300
# Soulmask server directory ( optional, already defined by base image ) .
#STEAMAPP_NAME=soulmask
# Soulmask server path ( optional, already defined by base image ) .
#STEAMAPP_HOME=/opt/steam/soulmask

# SteamApp ID ( Soulmask, may NOT be modify ) .
#SteamAppId=2646460

# Steam user ( required, recommends adjust to same UID/GID as docker host, and remember add permission to handale data into volume ) .
#STEAM_USER=steam
#STEAM_USER_ID=12001
#STEAM_GROUP_ID=12001

###
# Server setting
###
# Server name to be display on server list .
#SOULMASK_SERVER_NAME=Level01_Main
# world name to be display on server list .
#SOULMASK_STEAM_SERVER_NAME=Soulmask Dedicated Server
# the maximum number of players .
#SOULMASK_MAX_PLAYERS=6
# the server to run in PVP mode, or not .
#SOULMASK_IS_PVP=FALSE
# the region for the server ( 0: Test (events allowed any time), 1: Asia, 2: North America, 3: Europe, 4: Mainland China, 5: South America, 6: Oceania, 7: Africa ) .
#SOULMASK_GAMEDISTINDEX=0
# the server to bind to a specific local IP (do not modify if the computer has multiple adapters and you want to choose one specific one ) .
#SOULMASK_MULTIHOME=0.0.0.0
# specifies the IP address to bind the RCON listener to, use SOULMASK_MULTIHOME by defaults .
#SOULMASK_RCONADDR=0.0.0.0

# the interval for writing the game database to disk ( seconds ) .
#SOULMASK_BACKUP=900
# the interval for writing game objects to the database ( seconds ) .
#SOULMASK_SAVING=600
# how often the world will save in minutes .
#SOULMASK_BACKUPINTERVAL=1440
# a toggle to backs up game saves when the game starts .
#SOULMASK_IS_INITBACKUP=FALSE

# port to connecting server .
SOULMASK_PORT=8777
# port to connecting server .
SOULMASK_QUERY_PORT=27015
# maintenance port, used for local telnet server maintenance, TCP, does not need to be open .
SOULMASK_ECHO_PORT=18888
# port to connecting server ( RCON ) .
SOULMASK_RCON_PORT=19000

# password to connecting server ( should be set the password your own ) .
SOULMASK_PSW=s3CRet
# password to launch admin console ( should be set the password your own ) .
SOULMASK_ADMINPSW=s3CRet
# if specified, enables RCON on the server, allowing RCON clients to connect and issue some admin commands . 
# SOULMASK_RCONPSW=
